@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  height: 100%;
  font-family: theme('fontFamily.sans');
}

body.dark {
  @apply bg-gray-900 text-gray-100;
}

a {
  @apply text-primary hover:underline;
}